Proj_src_code/src/calci.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="problem" type="problemType" />
  <xsd:complexType name="problemType">
    <xsd:sequence>
      <xsd:element name="pid" type="xsd:int" />
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="semester" type="xsd:int" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="marks" type="xsd:int" />
      <xsd:element name="time" type="xsd:int" />
      <xsd:element name="createdOn" type="xsd:date" />
      <xsd:element name="createdBy" type="xsd:string" />
<xsd:element name="pemail" type="xsd:string" />

      <xsd:element name="test" type="testType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="testType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="case" type="caseType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="caseType">
    <xsd:sequence>
 <xsd:element name="pid" type="xsd:int" />
      <xsd:element name="tid" type="xsd:int" />
      
      <xsd:element name="input" type="xsd:string" />
      <xsd:element name="output" type="xsd:string" />
      <xsd:element name="title" type="xsd:string" />
      <xsd:element name="description" type="xsd:string" />
      <xsd:element name="weightage" type="xsd:float" />
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>